@import '../../common.scss';

.link {
  position: relative;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5rem;
  height: 3.75rem;
  margin-top: 4rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  line-height: 1;
  z-index: 6;
  color: #fff;
  box-sizing: border-box;

  &.Join {
    &::after {
      content: 'Join Discord';
    }
  }
  &.Buy {
    &::after {
      content: 'Buy on Opensea';
    }
  }
  &.More {
    &::after {
      content: 'More View';
    }
  }

  &:hover {
    border: 0;
    &::after {
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s linear;
    background-image: $main_gradientColor;
    color: #212121;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
}
