@import '../../common.scss';

footer {
  padding-top: 5rem;

  > h2 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 5rem;

    @include mobile {
      font-size: 2.5rem;
    }
  }

  > .info {
    background-image: url('../../assets/images/shared/footer_background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    > .limiter {
      @include limiter;

      > .inner {
        display: flex;
        justify-content: space-between;

        @include mobile {
          flex-direction: column;
        }

        > div {
          &.join {
            width: 100%;
            max-width: 30rem;

            @include mobile {
              max-width: 100%;
            }
            > p {
              color: #fff;
              font-size: 1.25rem;
              font-weight: 500;
              padding-bottom: 1.5rem;
            }
            > .box {
              background-color: #000;
              border-radius: 1rem;
              padding: 1rem;
              box-sizing: border-box;
              width: 100%;
              max-width: 20rem;

              @include mobile {
                max-width: 650px;
              }

              > form {
                display: flex;
                justify-content: space-between;
                align-items: center;

                > .mailing {
                  background-color: transparent;
                  font-size: 1rem;
                  color: #fff;
                  width: 100%;

                  &::placeholder {
                    color: #686868;
                    font-size: 1rem;
                    font-weight: 400;
                  }
                }
                > .button {
                  background-color: transparent;
                  color: $main_color;
                  font-size: 1rem;
                  font-weight: 700;
                }
              }
            }
          }
          &.sns {
            text-align: right;

            @include mobile {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: flex-start;
              margin-top: 2rem;
            }

            > a {
              color: #fff;
              text-decoration: underline;
              font-size: 1.25rem;
              font-weight: 600;
              padding-bottom: 1rem;

              @include mobile {
                padding-bottom: 0;
                font-size: 1rem;
              }

              &:hover {
                color: $main_color;
              }
            }
            > p {
              padding: 1.5rem 0;

              @include mobile {
                padding: 0;
                display: flex;
                flex-direction: column;
              }

              > span {
                color: #fff;
                font-size: 1rem;
                font-weight: 500;
                padding-left: 1rem;

                @include mobile {
                  &:first-child {
                    margin-bottom: 0.5rem;
                  }
                  &:nth-child(2) {
                    display: none;
                  }
                }

                &:hover {
                  color: $main_color;
                }
              }
            }
            > ul {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              margin-top: 3rem;

              @include mobile {
                width: 100%;
                justify-content: center;
                margin-top: 5rem;
              }

              > li {
                margin-left: 1rem;

                @include mobile {
                  margin: 0 2rem;
                }

                > a {
                  > img {
                    width: 2.5rem;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
      > .copyright {
        color: $main_color;
        line-height: 2;
        font-size: 0.9rem;
        text-align: center;
        padding-top: 3rem;
      }
    }
  }
}
