@import '../../common.scss';

.section {
  @include section;
  position: relative;
  background-color: #101010;
  justify-content: center;
  padding: 0;

  > .dimmed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  > .video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    &::-webkit-media-controls {
      display: none !important;
    }
  }
  > .title {
    width: 100%;
    max-width: fit-content;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 5;

    > h2 {
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 1.5;

      @include mobile {
        font-size: 2.5rem;
      }

      > span {
        color: $main_color;
      }
    }
  }
  > .mouse {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(92, 255, 192, 0.3);
    text-align: center;
    z-index: 5;

    > img {
      display: block;
      margin: auto;
      padding-bottom: 0.5rem;
    }
  }
}
