@import '../../common.scss';

.section {
  @include section;
  position: relative;

  @include mobile {
    min-height: auto;
  }

  > .limiter {
    @include limiter;
    position: relative;
    z-index: 5;

    > h2 {
      color: #fff;
      font-size: 3rem;
      text-align: center;
      font-weight: 600;
      line-height: 2;

      @include mobile {
        font-size: 2.5rem;
      }
    }
    > p {
      font-size: 1.25rem;
      color: #fff;
      line-height: 1.8;
      text-align: center;
      
      >span{
        display: block;
      }
    }
  }

  > .swiper {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    margin: 4rem 0;
  }

  > .flex {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem;
    box-sizing: border-box;

    > .slide {
      width: 49%;
      margin-bottom: 2%;
    }
  }

  > .background {
    background-image: url('../../assets/images/shared/grid_background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
