@import '../../common.scss';

.section{
    @include section;
    position: relative;
    background-color: #000;

    >.limiter{
        @include limiter;
        position: relative;
        z-index: 5;

        >h2{
            color:#fff;
            font-size: 3rem;
            text-align: center;
            font-weight: 500;
            line-height: 2;
        }
        >p{
            font-size: 1.25rem;
            color:#fff;
            line-height: 2;
            text-align: center;
        }
        >.list{
            margin-top:2rem;
            display: flex;
            flex-wrap: wrap;

            >li{
                width: 16.666667%;
                padding:.5rem;
                box-sizing: border-box;

                >div{
                    min-height: 8rem;
                    border-radius: 1rem;
                    background-color: #161616;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color:#666;
                    font-size: 2rem;
                }
            }
        }
    }

    >.background{
        background-image: url('../../assets/images/shared/grid_background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
    }
}
