@import '../../common.scss';

.section {
  @include section;
  position: relative;

  > .limiter {
    @include limiter;
    position: relative;
    z-index: 5;

    > h2 {
      color: #fff;
      font-size: 3rem;
      text-align: center;
      font-weight: 500;
      line-height: 2;
    }
    > p {
      font-size: 1.25rem;
      color: #fff;
      line-height: 1.8;
      text-align: center;
    }
  }

  > .swiper {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    margin: 4rem 0;
  }

  > .modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 2rem;
    box-sizing: border-box;
    width: 50vw;
    border-radius: 2rem;
    z-index: 10;

    > .hidden {
      background-color: rgba(0, 0, 0, 0.75);
      color: $main_color;
      border: 1px solid $main_color;
      box-sizing: border-box;
      font-size: 2rem;
      position: absolute;
      right: 3rem;
      top: 3rem;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    > img {
      width: 100%;
    }
  }

  > .btn {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 50%;
    z-index: 5;
    transform: translate(0, -50%);

    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }

  > .background {
    background-image: url('../../assets/images/shared/grid_background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
