$main_color : #5CFFC0;
$main_gradientColor : linear-gradient(90deg, rgba(49,248,171,1) 0%, rgba(57,194,238,1) 100%);


@mixin limiter {
  width: 100%;
  max-width: 1440px;
  padding:0 2rem;
  box-sizing: border-box;
}
@mixin section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin tablet {
  @media screen and (max-width: 1280px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 740px) {
    @content;
  }
}
